body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100svh;
}
.dark-theme {
    background-color: #333;
    color: #fff;
}
.tab-container {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0 5px 15px rgba(0.0, 0.0, 0.1, 0.4);
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.dark-theme .tab-container {
    background-color: #333;
    color: #fff;
    box-shadow: 0 5px 15px rgba(247, 241, 241, 0.614);
}

.tab-bar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.dark-theme .tab-bar {
    background-color: #333;
    color: #ffffff;
}

.tab {
    color: #2552e7;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.dark-theme .tab {
    color: #fff;
}

.tab i {
    font-size: 24px;
}

.content {
    padding: 20px 20px 60px 20px;
}


@media screen and (min-width: 769px) {
    .tab-container {
        border-radius: 15px;
        overflow: hidden;
        padding: 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 30px;
        width: 100%;
        max-width: 600px;
    }

    .content {
        max-width: 900px;
        margin: 0 auto;
    }
}
    .searchBox {
        display: flex;
        justify-content: center;
        background: #ffffff;
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
        height: 40px;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0.0, 0.0, 0.1, 0.1);
    }
    .dark-theme .searchBox {
        background: #333;
        color: #fff;
    }
    .searchInput {
        border: none;
        background: none;
        outline: 0.5px solid #ccc;
        color: rgb(0, 0, 0);
        font-size: 16px;
        transition: 0.4s;
        padding: 10px;
        opacity: 60%;
        width: 100%;
        border-radius: 15px 20px;
    }
    .dark-theme .searchInput {
        color: #fff;
    }

    @media screen and (min-width: 769px){
        .searchBox{
            max-width: 50%;
        }
    }
    .searchResults{
        position: fixed;
        left: 40px;
        right: 40px;
        top: 80px;
        border-radius: 10px;
        background-color: #ffffff;
        text-align: left;
        padding: 15px 20px;
        margin-bottom: 10px;
    }
    .dark-theme .searchResults {
        background-color: #333;
        color: white;
    }
    .dark-theme .searchResults a{
        color: white;
    }

    .search-result{
        background-color: #ffffff;
        border-radius: 10px;
        padding-bottom: 10px;
    }
    .dark-theme .search-result{
        background-color: #333;
        color: white;
    }
.back-button {
    text-decoration: none;
    color: #2552e7;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 40px;
    margin-left: 10px;
}
.dark-theme .back-button {
    color: white;
}
.msg-input {
    width: 80%;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 -5px 15px rgb(224, 220, 220);
    height: 100px;
    margin: 30px 0 10px;
}

.dark-theme .msg-input {
    background-color: #333;
    color: #fff;
    box-shadow: 0 5px 15px rgba(247, 241, 241, 0.614);
}
.respond-button {
    padding: 15px 20px;
    color: #2552e7;
    border: 2px solid #2552e7;
    background-color: #fff;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    width: 25%;
}
.respond-button:hover {
    background-color: #2552e7;
    color: #fff;
}
.dark-theme .respond-button {
    background-color: #2552e7;
    color: #ffffff;
}

.dark-theme .respond-button:hover {
    background-color: #cccccc;
    color: #2552e7;
}
@media (max-width: 600px) {
    .respond-button {
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
}
.dark-theme .card,
.dark-theme .card-body,
.dark-theme .form-control,
.dark-theme .form-select,
.dark-theme .card-footer{
    background-color: #333;
    color: white;
    box-shadow: 0 5px 15px rgba(247, 241, 241, 0.614);
}