

.category-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

.category-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0.0, 0.0, 0.2, 0.2);
    margin: 10px;
    flex-basis: calc(33.33% - 20px);
    max-width: 100px;
    text-align: center;
    display: flex;
    height: 90px;
    flex-direction: column;
    hyphens: auto;
    padding: 8px;
    justify-content: center;
    text-decoration: none;
}
.dark-theme .category-card {
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(247, 241, 241, 0.614);
}
.category-card:hover{
    background-color: #2552e7;
    color: white;
}
.dark-theme .category-card:hover{
    background-color: #999;
    color: white;
}


@media screen and (min-width: 769px){
    .category-container{
        justify-content: center;
    }

    .tab-container {
        border-radius: 15px;
        overflow: hidden;
        padding: 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 30px;
        width: 100%;
        max-width: 600px;
    }


}

.category-card i {
    font-size: 18px;
    color: #2552e7;
    margin-bottom: 10px;
}
.dark-theme.category-card i {
    color: #fff;
}

.category-card span {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
}

.content{
    padding: 20px;
}


