.content{
    padding: 20px;
}

.resumes-list{
    margin-top: 20px;
}
.resume{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px 0;
    box-shadow: 0 5px 15px rgba(0.0, 0.0, 0.1, 0.1);
}
.dark-theme .resume {
    background-color: #333;
    color: #fff;
    box-shadow: 0 5px 15px rgba(247, 241, 241, 0.614);
}

.resume:hover{
    box-shadow: 0 5px 18px rgba(0.1, 0.2, 0.3, 0.4);
}

.resume p{
    margin: 0;
}

.resume-link {
    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: inherit;
}


.resume-name{
    font-size: 18px;
    padding: 8px 0;
    font-weight: bold;
    color: #7F88FF;
    margin-bottom: 6px;
}
.dark-theme .resume-name {
    color: white;
}

.resume-experience, .resume-category, .resume-date{
    font-size: 15px;
    opacity: 65%;
}

.back-button {
    text-decoration: none;
    color: #2552e7;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 40px;
    margin-left: 10px;
}

.back-button i {
    margin-right: 5px;
}

.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    margin: 20px;
    border-radius: 11px;
    display: none;
}

.notification.show {
    display: block;
    animation: fadeOut 4s ease-in-out;
}

.resume-buttons{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.view-button{
    border: none;
    background-color: #7F88FF;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 10px;
    text-decoration: none;
}

.favorite-button{
    font-size: 15px;
    border: none;
    background-color: transparent;
}
.dark-theme .favorite-button svg{
    color: white;
}

.favorite-button svg{
    color: #7F88FF;
}

.favorite-button svg:hover{
    color: #4caf50;
}


@media screen and (min-width: 769px){
    .content {
        max-width: 900px;
        margin: 0 auto;
    }
}