body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}
.tab-container {
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    box-shadow: 0 5px 15px rgba(0.0, 0.0, 0.1, 0.4);
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.dark-theme .tab-container {
    background-color: #333;
    color: #fff;
    box-shadow: 0 5px 15px rgba(247, 241, 241, 0.614);
}
.tab-bar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.dark-theme .tab-bar {
    background-color: #333;
    color: #fff;
    box-shadow: 0 5px 15px rgba(247, 241, 241, 0.614);
}

.tab {
    color: #2552e7;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.dark-theme .tab {
    color: white;
}

.tab i {
    font-size: 24px;
}

.content{
    padding: 20px;
}

.resume-list{
    margin-top: 20px;
}

.dark-theme .resume {
    background-color: #333;
    color: #fff;
    box-shadow: 0 5px 15px rgba(247, 241, 241, 0.614);
}

.resume p{
    color: #333333;
    margin: 0;
}

.resume-link {
    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: inherit;
}


.resume-name{
    font-size: 18px;
    padding: 8px 0;
    font-weight: bold;
    color: #7F88FF;
    margin-bottom: 6px;
}

.resume-experience, .resume-category, .resume-date{
    font-size: 15px;
    opacity: 65%;
    margin-bottom: 20px;
}

.back-button {
    text-decoration: none;
    color: #7F88FF;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 15px;
}

.back-button i {
    margin-right: 5px;
}

.notification {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #4caf50; /* Цвет фона сообщения */
    color: #fff; /* Цвет текста */
    padding: 10px;
    text-align: center;
    z-index: 1000;
    margin: 20px;
    border-radius: 11px;
    display: none;
}

.notification.show {
    display: block;
    animation: fadeOut 4s ease-in-out;
}

.resume-buttons{
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.view-button{
    border: none;
    background-color: #7F88FF;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 10px;
    text-decoration: none;
}



@media screen and (min-width: 769px){
    .tab-container {
        border-radius: 15px;
        overflow: hidden;
        padding: 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 30px;
        width: 100%;
        max-width: 600px;
    }

    .content {
        max-width: 900px;
        margin: 0 auto;
    }
}

.resume {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}
.dark-theme .resume {
    background-color: #333;
    color: #fff;
    box-shadow: 0 5px 15px rgba(247, 241, 241, 0.614);
}
.resume-name {
    font-size: 24px;
    font-weight: bold;
    color: #7F88FF;
    margin-bottom: 10px;
}
.dark-theme .resume-name {
    color: white;
}

.resume-category, .resume-experience, .resume-phone {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.dark-theme .resume-category, .resume-experience, .resume-phone {
    color: white;
}

.resume-description {
    font-size: 16px;
    color: #555;
    margin: 20px 0;
}

.view-button {
    background-color: #7F88FF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.2s;
}

.view-button:hover {
    background-color: #636cec;
}

.resume i {
    margin-right: 10px;
    color: #333333;
}

.resume-category, .resume-experience, .resume-description, .resume-phone, .resume-buttons {
    margin-top: 15px;
}

.view-button {
    text-align: center;

}

.view-button.disabled {
    background-color: #ccc;
    color: #888;
    pointer-events: none;
}

.header {
    background-color: #fffdfd;
    color: #fff;
    padding: 5px 20px;
    margin-bottom: 20px;
}

.dark-theme .header {
    background-color: #333;
    color: white;
}

.favorite-button{
    font-size: 15px;
    border: none;
    background-color: transparent;
}

.favorite-button svg{
    color: #7F88FF;
}

.favorite-button svg:hover{
    color: #4caf50;
}

.share-button{
    font-size: 15px;
    border: none;
    background-color: transparent;
}

.share-button svg{
    color: #7F88FF;
}

.share-button svg:hover{
    color: #4caf50;
}

@media screen and (min-width: 769px) {
    .header{
        border-radius: 20px;
        max-width: 700px;
        margin: 0 auto;
    }
}

.resume-phone {
    color: #333333;
}

.margin-left-div {
    margin-left: 100px;
    margin-top: 10px;
}
.social-icon {
    font-size: 20px;
    padding: 0 15px;
}
@media screen and (max-width: 799px){
    .margin-left-div {
        margin-left: 50px;
    }
    .social-icon {
        padding: 0 7px;
    }
}
@media screen and (max-width: 677px) {
    .margin-left-div {
        margin-left: 30px;
    }
    .social-icon {
        padding: 0;
    }
}